.item-show-card {
  display: flex;
  width: fit-content;
  margin: 40px auto 20px;

  .item-show-img {
    height: 400px;
    width: 400px;
    background-size: cover;
    background-position: center;
    margin: 10px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  .item-show-details {
    position: relative;
    height: 400px;
    width: 500px;
    padding: 20px;
    border: 3px solid #df8543;
    border-radius: 2px;
    margin: 10px;

    h1 {
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      display: flex;
      justify-content:center;
    }

    .details {
      padding: 20px 10px;
      border-top: 1px solid #df8543;

      table {
        h5 {
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 12px;
        }

        h6 {
          color: #6d1902;
          font-size: 18px;
          font-weight: bold;
          font-style: italic;

          span {
            font-size: 14px;
            margin-left: 8px;
          }
        }
      }
      p {
        margin-top: 20px;
        text-align: justify;
      }
    }

    .item-show-price, .btn-ghost {
      position: absolute;
      bottom: 20px;
    }

    .item-show-price {
      left: 50px;
      font-size: 24px;
      font-weight: bold;
      color: rgba(0, 0, 0, 0.9);
      margin-bottom: 12px;
    }

    .btn-ghost {
      right: 20px;
    }
  }
}

ul.reviews-container {
  width: 940px;
  padding: 10px;
  border-radius: 2px;
  margin: 0 auto;

  #new_review {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: fit-content;
    padding: 10px;
    padding-bottom: 0;
    margin: 10px 0 0;

    .review_content {
      width: calc(100% - 180px);

      textarea {
        width: 100%;
      }
    }
  }

  li {
    list-style: none;
    align-items: center;
    padding: 10px;
    margin: 0 0 10px 10px;

    p[data-rating] {
      margin: 5px;

      i {
        margin-right: 2px;
        color: gold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-size: 15px;
      }
    }
  }
}
