.order-container {
  width: 850px;
  padding: 10px;
  margin: 40px auto;

  h2 {
    font-size: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #df8543;
    margin-bottom: 0;
  }

  ul.orders-items-list {
    padding: 0;
    margin: 0;

    li.order-card {
      list-style: none;
      display: flex;
      border-bottom: 1px solid #df8543;
      padding: 20px 5px;

      .order-actions {
        label {
          margin-bottom: 0;
        }

        .numeric.integer {
          width: 70px;
        }

        .btn-delete {
          margin: 2px 0 0 20px;
        }
      }

      .order-price {
        position: relative;
        width: 100px;

        p {
          position: absolute;
          top: 8px;
          left: 0;
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }

  .order-checkout {
    position: relative;
    width: 100%;
    height: 85px;

    p {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0 0;
      height: 30px;
    }

    a {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 6px 12px;
      font-size: 18px;
    }
  }
}
