.checkout-summary {
  width: 400px;
  padding: 10px 20px;
  margin: 20px auto;

  h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding: 0 10px;
  }

  hr {
    border-top: 1px solid rgba(0, 0, 0, 0.8);
    margin: -2px 0 12px;
  }

  .checkout-shipping {
    margin-top: 5px;

    p {
      font-size: 17px;
    }
  }

  .checkout-total {
    margin-top: 5px;

    h5 {
      font-size: 19px;
      font-weight: bold;
    }
  }

  .btn-ghost {
    font-size: 22px;
    width: 100%;
    margin-top: 20px;
  }
}
