<div class="footer">
  <div>
    <h2><span class="h2-footer">Artisan</span></h2>
    <p style="font-size: 14px; color: white">FAQ | FOLLOW YOUR ORDER | WORK WITH US</p>
    <p style="font-size: 12px">Find the most beautiful crafts in the world !</p>
    <p style="font-size: 11px">Copyright © 2020 Artisan All rights reserved</p>
  </div>

  <div>
    <h2><span class="h2-footer">Contact us</span></h2>
        <div style="font-size: 12px">
          <i class="fas fa-map-marker-alt"></i> 42, Rua do Carmo, 1100-062 Lisboa
        </div>
        <div style="font-size: 12px">
          <i class="fas fa-phone"></i> +315 483432133
        </div>
          <div class="payment" style="margin-top: 2px">
            <div style="padding-right: 10px">
              <i class="fab fa-cc-visa"></i>
            </div>
            <div style="padding-right: 10px">
              <i class="fab fa-cc-paypal"></i>
            </div>
            <div>
              <i class="fab fa-cc-mastercard"></i>
            </div>
          </div>
  </div>

  <div>
      <h2><span class="h2-footer">Follow us</span></h2>
      <div class="footer-links">
        <div style="padding-right: 10px">
        <a href="#"><i class="fab fa-github"></i></a>
        </div>
        <div style="padding-right: 10px">
        <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
        <div style="padding-right: 10px">
        <a href="#"><i class="fab fa-facebook"></i></a>
        </div>
        <div style="padding-right: 10px">
        <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        </div>
        </div>
  </div>
</div>
