<div class="footer">
  <div class="footer-infos">
    <h2><span class="h2-footer">Artisan</span></h2>
    <p style="color: white">FAQ | FOLLOW YOUR ORDER | POLICY | WORK WITH US</p>
    <p>Find the most beautiful crafts in the worl !</p>
    <p style="font-size: 12px">Copyright © 2020 Artisan All rights reserved</p>
  </div>
  <div class="footer-contact">
  <h2><span class="h2-footer">Contact us</span></h2>
      <div><i class="fas fa-map-marker-alt"></i> 42, Rua do Carmo, 1100-062 Lisboa</div>
      <div><i class="fas fa-phone"></i> +315 483432133</div>
        <div class="paiement">
    <div class="paiement">
      <i class="fab fa-cc-visa"></i>
    </div>
    <div class="paiement">
      <i class="fab fa-cc-paypal"></i>
    </div>
    <div class="paiement">
      <i class="fab fa-cc-mastercard"></i>
    </div>
  </div>
  </div>
  <div>
  <div class="footer-links">
  <h2><span class="h2-footer">Follow us</span></h2>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>


</div>
