<div class="footer">
  <div class="footer-actions">
    <a href="#" style="display: block">FAQ</a>|
    <a href="#" style="display: block">FOLLOW YOUR ORDER</a>|
    <a href="#" style="display: block">HELP SUPORT LOCAL</a>|
    <a href="#" style="display: block"><i class="fab fa-instagram"></i></a>
    <a href="#" style="display: block"><i class="fab fa-facebook"></i></a>
    <a href="#" style="display: block"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-contacts">
    <p><i class="fas fa-map-marker-alt"></i>Rua do Conde de Redondo 91B, 1150-103 Lisboa</p>
    <p><i class="fas fa-phone"></i>+351 987654321</p>
  </div>

  <p class="footer-copyright">Copyright © 2020 Artisan All rights reserved</p>
</div>
