<h2>SHOPPING CART</h2>

<% if current_user.cart_size.zero? %>
  <p style="font-size: 20px; margin: 10px">Your shopping cart is empty</p>

<% else %>
  <ul class="orders-list">
    <!-- List of Items in the shopping cart -->
    <%= render "order_items/order-items-list" %>
  </ul>

  <div class="order-checkout">
    <p>Subtotal (<%= @order.num_items_string %>): <%= humanized_money_with_symbol(@order.items_subtotal) %></p>

    <!-- Buy the shopping cart Items -->
    <%= link_to order_buy_all_path(@order), class:"btn btn-ghost", method: :post, remote: true do %>
      Checkout
    <% end %>
  </div>
<% end %>
