<div id="shopping-cart" class="order-container">
  <%= render "orders/shopping-cart" %>
</div>

<ul class="orders-list" id="paid-orders">
  <%= render "orders/paid-orders" %>
</ul>

<!-- Modal Order Checkout -->
<div class="modal fade" id="ModalCheckout" role="dialog"></div>
