<!-- Shopping cart -->
<div id="shopping-cart" class="orders-list-container">
  <%= render "orders/shopping-cart" %>
</div>

<!-- Paid Orders list -->
<div id="paid-orders" class="orders-list-container">
  <%= render "orders/paid-orders" %>
</div>

<!-- Modal Order checkout -->
<div class="modal fade" id="ModalCheckout" role="dialog"></div>
