<div id="shopping-cart" class="order-container">
  <%= render "orders/shopping-cart" %>
</div>

<div id="paid-orders" class="order-container">
  <%= render "orders/paid-orders" %>
</div>

<!-- Modal Order Checkout -->
<div class="modal fade" id="ModalCheckout" role="dialog"></div>
