<ul class="orders-list" id="shopping-cart">
  <%= render "orders/shopping-cart" %>
</ul>

<ul class="orders-list" id="paid-orders">
  <%= render "orders/paid-orders" %>
</ul>

<!-- Modal Order Checkout -->
<div class="modal fade" id="ModalOrderCheckout" role="dialog">
  <%= render "orders/checkout" %>
</div>
