<div class="admin-container">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th>Categories</th>
        <th>Num Items</th>
        <th>Created</th>
      </tr>
    </thead>

    <tbody>
      <!-- One row for each Category -->
      <%= render partial: "admin/categories/category", collection: @categories %>
    </tbody>
  </table>

  <%= link_to 'New Category', data: { toggle: "modal", target: "#ModalCategoryNew" }, class: "btn btn-ghost",
      style: "margin-left: 10px" do %>
    New Category
  <% end %>

  <!-- Modal New Category -->
  <%= render "admin/categories/form", category: Category.new %>
</div>
