<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h2 style="margin-top: 20px">Adding a new category :</h2>
      <%= simple_form_for [:admin, @category] do |f| %>
        <%= f.input :name %>
          <div style="margin-bottom: 20px">
            <%= f.submit "Add", class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>
