
.sign{
  width: 10rem;
}


.btn-ghost {
  background-color: $nav-red;
  color: white;
  font-family: $body-font;
  //border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 5px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

#login{
  background-color: #cfcdca;
}

.btn-delete {
  color: black;
  transition: 0.1s ease;

  &:hover {
    color: red;
  }
}
