.btn-ghost {
  color: white;
  font-family: $body-font;
  font-size: 20px;
  background-color: $nav-red;
  opacity: 0.8;
  padding: 8px 16px;
  border-radius: 5px;
  transition: opacity 0.15s ease;

  &:hover {
    color: white;
    opacity: 0.95;
  }
}

.btn-delete, .btn-edit {
  color: black;
  font-size: 20px;
  transition: 0.1s ease;

  &:hover {
    text-decoration: none;
  }
}

.btn-delete:hover {
  color: #bb0000;
}

.btn-edit:hover {
  color: #00a93c;
}

.btn-accept-confirm, .btn-cancel-confirm {
  float: left;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  height: 100%;
  width: 50%;
  padding: 10px;
  border: none;
  margin: 0;
}

.btn-accept-confirm {
  color: white;
  background-color: #e5493d;
  border-bottom-right-radius: 5px;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.btn-cancel-confirm {
  color: black;
  background-color: lightgray;
  border-bottom-left-radius: 5px;
}
