.container-cards {
  margin: 20px 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 12px;
  justify-items: center;
}

.card {
  height: 220px;
  width: 220px;
  min-height: 220px;
  max-height: 220px;
  min-width: 220px;
  max-width: 220px;

  position: relative;
  justify-content: space-around;
  text-align: center;

  background-color: black;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);

  transition: 0.2s ease;
}

.img-card {
  width: 220px;
  height: 220px;

  position: absolute;
  background-position: center;
  background-size: cover;
}

.text-holder {
  position: absolute;
  padding: 10px;

  h5, p {
    color: white;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
    font-size: 16px;
    opacity: 0;
  }

  h5 {
    font-weight: bold;
    font-size: 20px;

  }
}

a:hover {
  text-decoration: none;

  .img-card {
    opacity: 0.35;
  }

  h5, p {
    opacity: 1;
  }
}
