.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $nav-green;
  margin: 0;

  p {
    font-size: 12px;
    margin: 0 0 10px 0;
  }

  .footer-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10% 5px;

    a {
      color: black;
      font-size: 17px;
      text-decoration: none;

      &:hover {
        color: #9d2503;
        opacity: 1;
        text-decoration: none;
      }

      i {
        color: rgba(0, 0, 0, 0.25);
        font-size: 25px;
        padding: 0 5px;

        &:hover {
          color: #9d2503;
        }
      }
    }
  }

  .footer-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;

    p > i {
      margin-right: 10px;
    }
  }

  .footer-copyright {
    width: 100%;
    text-align: center;
  }
}
