.navbar-lewagon {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  justify-content: space-between;
  background: $nav-green;

  h1 {
    font-family: Karla;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.nav-link {
  opacity: 1;
  color: white !important;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 1;
  color: #9d2503 !important;
}

.nav-item.dropdown {
  padding-left: 8px;
  margin-left: 5px;
  padding-right: 5px;
}

.fa-praying-hands {
  padding-left: 10px;
  color: black;
}

.fa-praying-hands:hover {
  color: #9d2503;
}

.logo-name {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: Pangolin;
}
