.navbar-lewagon {
  justify-content: space-between;
  background: $nav-green;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  h1 {
    font-family: Karla;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

#navbar-link {
  opacity: 1;
  color: black;
}

#navbar-link:hover {
  opacity: 1;
  color: #9d2503;
}

.fas {
  padding-left: 10px;
}

.logo-name {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-family: Pangolin;
}
