.navbar-lewagon {
  justify-content: space-between;
  background: $nav-green;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

#navbar-link {
  opacity: 1;
  color: black;
}

#navbar-link:hover {
  opacity: 1;
  color: #9d2503;
}

.fas{
  padding-left: 10px;
}



