.pagination {
  margin-left: 10px;
}

.page-link, .page-item.disabled .page-link {
  color: white;
  background-color: #df8543;
  border: 1px solid white;
  margin-top: 10px;
}

.page-item.active .page-link, .page-item .page-link:hover {
  color: white;
  background-color: #b72a00ed;
  border: 1px solid white;
}
