.read-more {
  line-height: 120%;
  text-align: justify;
  overflow: hidden;
  margin: 0;
  margin-left: 5px;
}

a.more-link {
  position: absolute;
  bottom: -20px;
  left: 0;

  color: rgba(158, 38, 0, 0.8);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 15px;

  &:hover {
    color: rgba(158, 38, 0, 0.8);
  }

  .elipse {
    color: black;
  }
}
