<div class="banner" style="background-image: url('<%= image_path 'banner-image.jpg' %>');">
  <div class="container">
    <h1>Artisan helps you find the most <strong>beautiful crafts</strong> around the world!</h1>
    <a class="btn" href="#">Sign-up now</a>
  </div>
</div>
