<div class="banner" style="background-image: url('<%= image_path 'banner-image.jpg' %>');">
  <div class="container">
    <h1 style="margin-bottom: 10px">Find the most beautiful crafts around the world!</h1>
    <%= link_to "Sign up", "#", class: "btn btn-flat" %>
  </div>
</div>
